p welcome #{username}

if !username
    form(action="/login")
        button(type='submit') login
    form(action='/register')
        button(type='submit') register
else
    form(action='/logout')
        button(type='submit') logout