p welcome 
    if user
        b #{user.username}

if !user
    form(action="/login")
        button(type='submit') login
    form(action='/register')
        button(type='submit') register
else
    div
        form(action="/channels" method="POST")
            p channels: 
                input(type="text" name="channels" value=user.channels)
                a 
                button(type="submit" value="save") save
    
    p #{message}

    p notifications enabled: 
        input(type="checkbox" id="notifications-checkbox" checked=user.notificationsEnabled)
    
    form(action="/notify" method="POST")
        button(type="submit" id="send-test-notification-button" ) send test notification

    form(action='/logout')
        button(type='submit') logout

script(type="application/javascript" src="/client.js" crossorigin="anonymous")