ul {
  list-style: none;
  padding: 0.2rem;
}

.container {
  margin: 1rem;
}

.title.is-4 {
  margin: 0;
}

.control {
  width: 100%;
  max-width: 500px;
}

#search-box:not(.has-search-query)::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.has-search-query::-webkit-search-cancel-button {
  position: relative;
}
