<div class="container">
  <div class="is-flex is-flex-direction-row is-align-items-center">
    <div class="control is-large" [ngClass]="{ 'is-loading': loading }">
      <input
        class="input is-large"
        id="search-box"
        #searchBox
        type="search"
        (input)="search(searchBox.value)"
        placeholder="search channels..."
        [ngClass]="{
          'has-search-query': this.enableClear && searchBox.value.length > 0
        }"
      />
    </div>
  </div>
  <ul>
    <li *ngFor="let channel of channels">
      <app-channel-list-item [channel]="channel"></app-channel-list-item>
    </li>
  </ul>
</div>
